<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewType.Seeker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="newtype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="newtype.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="framelessForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NewType.Seeker.Properties.Settings>
            <setting name="UseNewline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightNewline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>485, 300</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>C1</value>
            </setting>
            <setting name="Tab1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab1Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab2Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab3Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab4Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab4Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab5Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab5Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab6Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab6Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab7Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab7Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab8Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab8Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab9Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab9Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="color" serializeAs="String">
                <value>Reseach</value>
            </setting>
        </NewType.Seeker.Properties.Settings>
        <newtype.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>UGCH-003-4</value>
            </setting>
            <setting name="catalog" serializeAs="String">
                <value>SPSDATA</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>5473nsk0036</value>
            </setting>
            <setting name="security" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="UseNewline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightNewline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>485, 300</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>C1</value>
            </setting>
            <setting name="Tab1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab1Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab2Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab3Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab4Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab4Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab5Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab5Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab6Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab6Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab7Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab7Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab8Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab8Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab9Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Tab9Sql" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PositionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </newtype.Properties.Settings>
    </userSettings>
</configuration>